<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <table border="5px">
            <tr>
                <th>Deptno</th>
                <th>Dname</th>
                <th>Location</th>
            </tr>
            {% for DO in QLDO %}
            <tr>
                <td>{{DO.deptno}}</td>
                <td>{{DO.dname}}</td>
                <td>{{DO.location}}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>